In [1]:
csv_url = "file:///Users/Avdhut/Downloads/Data%20Science/archive-2/Iris.csv"

import pandas as pd
iris = pd.read_csv(csv_url)

In [2]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
# dropping the first column from dataset

col_to_drop = "Id"

iris.drop(columns = col_to_drop,inplace=True)

In [5]:
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
#  some basic operarations

iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
iris.tail()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

In [8]:
iris.head(3)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa

In [9]:
iris.tail(3)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

In [10]:
iris.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [11]:
iris.shape

(150, 5)

In [12]:
iris.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [13]:
iris.describe(include="all")

        SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
count      150.000000    150.000000     150.000000    150.000000          150
unique            NaN           NaN            NaN           NaN            3
top               NaN           NaN            NaN           NaN  Iris-setosa
freq              NaN           NaN            NaN           NaN           50
mean         5.843333      3.054000       3.758667      1.198667          NaN
std          0.828066      0.433594       1.764420      0.763161          NaN
min          4.300000      2.000000       1.000000      0.100000          NaN
25%          5.100000      2.800000       1.600000      0.300000          NaN
50%          5.800000      3.000000       4.350000      1.300000          NaN
75%          6.400000      3.300000       5.100000      1.800000          NaN
max          7.900000      4.400000       6.900000      2.500000          NaN

In [14]:
iris.iloc[:,:]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [15]:
iris.iloc[:7,:2]

   SepalLengthCm  SepalWidthCm
0            5.1           3.5
1            4.9           3.0
2            4.7           3.2
3            4.6           3.1
4            5.0           3.6
5            5.4           3.9
6            4.6           3.4

In [16]:
iris.iloc[3,4]

'Iris-setosa'

In [17]:
iris.iloc[3,2]

1.5

In [18]:
iris.loc[0:7,["SepalLengthCm","SepalWidthCm","Species"]]

   SepalLengthCm  SepalWidthCm      Species
0            5.1           3.5  Iris-setosa
1            4.9           3.0  Iris-setosa
2            4.7           3.2  Iris-setosa
3            4.6           3.1  Iris-setosa
4            5.0           3.6  Iris-setosa
5            5.4           3.9  Iris-setosa
6            4.6           3.4  Iris-setosa
7            5.0           3.4  Iris-setosa

In [19]:
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [20]:
iris.columns

Index(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [21]:
iris.columns.values

array(['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'], dtype=object)

In [22]:
iris.index

RangeIndex(start=0, stop=150, step=1)

In [23]:
# Handling missing values

iris.isnull()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            False         False          False         False    False
1            False         False          False         False    False
2            False         False          False         False    False
3            False         False          False         False    False
4            False         False          False         False    False
..             ...           ...            ...           ...      ...
145          False         False          False         False    False
146          False         False          False         False    False
147          False         False          False         False    False
148          False         False          False         False    False
149          False         False          False         False    False

[150 rows x 5 columns]

In [24]:
iris.isnull().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [25]:
iris.isna()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            False         False          False         False    False
1            False         False          False         False    False
2            False         False          False         False    False
3            False         False          False         False    False
4            False         False          False         False    False
..             ...           ...            ...           ...      ...
145          False         False          False         False    False
146          False         False          False         False    False
147          False         False          False         False    False
148          False         False          False         False    False
149          False         False          False         False    False

[150 rows x 5 columns]

In [26]:
iris.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [27]:
# pandas functions for data formatting and normalisation

# change the datatype of sepalLengthCm
iris.dtypes

SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [28]:
iris['SepalLengthCm'] = iris['SepalLengthCm'].astype(int)

In [29]:
iris.dtypes

SepalLengthCm      int64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [31]:
# data normalisation

from sklearn import preprocessing

In [32]:
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0                5           3.5            1.4           0.2     Iris-setosa
1                4           3.0            1.4           0.2     Iris-setosa
2                4           3.2            1.3           0.2     Iris-setosa
3                4           3.1            1.5           0.2     Iris-setosa
4                5           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145              6           3.0            5.2           2.3  Iris-virginica
146              6           2.5            5.0           1.9  Iris-virginica
147              6           3.0            5.2           2.0  Iris-virginica
148              6           3.4            5.4           2.3  Iris-virginica
149              5           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [33]:
x = iris[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].values.astype(float)

In [34]:
x

array([[5. , 3.5, 1.4, 0.2],
       [4. , 3. , 1.4, 0.2],
       [4. , 3.2, 1.3, 0.2],
       [4. , 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5. , 3.9, 1.7, 0.4],
       [4. , 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4. , 2.9, 1.4, 0.2],
       [4. , 3.1, 1.5, 0.1],
       [5. , 3.7, 1.5, 0.2],
       [4. , 3.4, 1.6, 0.2],
       [4. , 3. , 1.4, 0.1],
       [4. , 3. , 1.1, 0.1],
       [5. , 4. , 1.2, 0.2],
       [5. , 4.4, 1.5, 0.4],
       [5. , 3.9, 1.3, 0.4],
       [5. , 3.5, 1.4, 0.3],
       [5. , 3.8, 1.7, 0.3],
       [5. , 3.8, 1.5, 0.3],
       [5. , 3.4, 1.7, 0.2],
       [5. , 3.7, 1.5, 0.4],
       [4. , 3.6, 1. , 0.2],
       [5. , 3.3, 1.7, 0.5],
       [4. , 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5. , 3.5, 1.5, 0.2],
       [5. , 3.4, 1.4, 0.2],
       [4. , 3.2, 1.6, 0.2],
       [4. , 3.1, 1.6, 0.2],
       [5. , 3.4, 1.5, 0.4],
       [5. , 4.1, 1.5, 0.1],
       [5. , 4.2, 1.4, 0.2],
       [4. , 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5. , 3.5, 1.3, 0.2],
       [4. , 3.1, 1.5, 0.1],
       [4. , 3. , 1.3, 0.2],
       [5. , 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4. , 2.3, 1.3, 0.3],
       [4. , 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5. , 3.8, 1.9, 0.4],
       [4. , 3. , 1.4, 0.3],
       [5. , 3.8, 1.6, 0.2],
       [4. , 3.2, 1.4, 0.2],
       [5. , 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6. , 3.2, 4.5, 1.5],
       [6. , 3.1, 4.9, 1.5],
       [5. , 2.3, 4. , 1.3],
       [6. , 2.8, 4.6, 1.5],
       [5. , 2.8, 4.5, 1.3],
       [6. , 3.3, 4.7, 1.6],
       [4. , 2.4, 3.3, 1. ],
       [6. , 2.9, 4.6, 1.3],
       [5. , 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5. , 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6. , 2.9, 4.7, 1.4],
       [5. , 2.9, 3.6, 1.3],
       [6. , 3.1, 4.4, 1.4],
       [5. , 3. , 4.5, 1.5],
       [5. , 2.7, 4.1, 1. ],
       [6. , 2.2, 4.5, 1.5],
       [5. , 2.5, 3.9, 1.1],
       [5. , 3.2, 4.8, 1.8],
       [6. , 2.8, 4. , 1.3],
       [6. , 2.5, 4.9, 1.5],
       [6. , 2.8, 4.7, 1.2],
       [6. , 2.9, 4.3, 1.3],
       [6. , 3. , 4.4, 1.4],
       [6. , 2.8, 4.8, 1.4],
       [6. , 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5. , 2.6, 3.5, 1. ],
       [5. , 2.4, 3.8, 1.1],
       [5. , 2.4, 3.7, 1. ],
       [5. , 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5. , 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6. , 3.1, 4.7, 1.5],
       [6. , 2.3, 4.4, 1.3],
       [5. , 3. , 4.1, 1.3],
       [5. , 2.5, 4. , 1.3],
       [5. , 2.6, 4.4, 1.2],
       [6. , 3. , 4.6, 1.4],
       [5. , 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5. , 2.7, 4.2, 1.3],
       [5. , 3. , 4.2, 1.2],
       [5. , 2.9, 4.2, 1.3],
       [6. , 2.9, 4.3, 1.3],
       [5. , 2.5, 3. , 1.1],
       [5. , 2.8, 4.1, 1.3],
       [6. , 3.3, 6. , 2.5],
       [5. , 2.7, 5.1, 1.9],
       [7. , 3. , 5.9, 2.1],
       [6. , 2.9, 5.6, 1.8],
       [6. , 3. , 5.8, 2.2],
       [7. , 3. , 6.6, 2.1],
       [4. , 2.5, 4.5, 1.7],
       [7. , 2.9, 6.3, 1.8],
       [6. , 2.5, 5.8, 1.8],
       [7. , 3.6, 6.1, 2.5],
       [6. , 3.2, 5.1, 2. ],
       [6. , 2.7, 5.3, 1.9],
       [6. , 3. , 5.5, 2.1],
       [5. , 2.5, 5. , 2. ],
       [5. , 2.8, 5.1, 2.4],
       [6. , 3.2, 5.3, 2.3],
       [6. , 3. , 5.5, 1.8],
       [7. , 3.8, 6.7, 2.2],
       [7. , 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6. , 3.2, 5.7, 2.3],
       [5. , 2.8, 4.9, 2. ],
       [7. , 2.8, 6.7, 2. ],
       [6. , 2.7, 4.9, 1.8],
       [6. , 3.3, 5.7, 2.1],
       [7. , 3.2, 6. , 1.8],
       [6. , 2.8, 4.8, 1.8],
       [6. , 3. , 4.9, 1.8],
       [6. , 2.8, 5.6, 2.1],
       [7. , 3. , 5.8, 1.6],
       [7. , 2.8, 6.1, 1.9],
       [7. , 3.8, 6.4, 2. ],
       [6. , 2.8, 5.6, 2.2],
       [6. , 2.8, 5.1, 1.5],
       [6. , 2.6, 5.6, 1.4],
       [7. , 3. , 6.1, 2.3],
       [6. , 3.4, 5.6, 2.4],
       [6. , 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6. , 3.1, 5.4, 2.1],
       [6. , 3.1, 5.6, 2.4],
       [6. , 3.1, 5.1, 2.3],
       [5. , 2.7, 5.1, 1.9],
       [6. , 3.2, 5.9, 2.3],
       [6. , 3.3, 5.7, 2.5],
       [6. , 3. , 5.2, 2.3],
       [6. , 2.5, 5. , 1.9],
       [6. , 3. , 5.2, 2. ],
       [6. , 3.4, 5.4, 2.3],
       [5. , 3. , 5.1, 1.8]])

In [37]:
min_max_scaler = preprocessing.MinMaxScaler()

In [38]:
x_scaled = min_max_scaler.fit_transform(x)

In [39]:
x_scaled

array([[0.33333333, 0.625     , 0.06779661, 0.04166667],
       [0.        , 0.41666667, 0.06779661, 0.04166667],
       [0.        , 0.5       , 0.05084746, 0.04166667],
       [0.        , 0.45833333, 0.08474576, 0.04166667],
       [0.33333333, 0.66666667, 0.06779661, 0.04166667],
       [0.33333333, 0.79166667, 0.11864407, 0.125     ],
       [0.        , 0.58333333, 0.06779661, 0.08333333],
       [0.33333333, 0.58333333, 0.08474576, 0.04166667],
       [0.        , 0.375     , 0.06779661, 0.04166667],
       [0.        , 0.45833333, 0.08474576, 0.        ],
       [0.33333333, 0.70833333, 0.08474576, 0.04166667],
       [0.        , 0.58333333, 0.10169492, 0.04166667],
       [0.        , 0.41666667, 0.06779661, 0.        ],
       [0.        , 0.41666667, 0.01694915, 0.        ],
       [0.33333333, 0.83333333, 0.03389831, 0.04166667],
       [0.33333333, 1.        , 0.08474576, 0.125     ],
       [0.33333333, 0.79166667, 0.05084746, 0.125     ],
       [0.33333333, 0.625     , 0.06779661, 0.08333333],
       [0.33333333, 0.75      , 0.11864407, 0.08333333],
       [0.33333333, 0.75      , 0.08474576, 0.08333333],
       [0.33333333, 0.58333333, 0.11864407, 0.04166667],
       [0.33333333, 0.70833333, 0.08474576, 0.125     ],
       [0.        , 0.66666667, 0.        , 0.04166667],
       [0.33333333, 0.54166667, 0.11864407, 0.16666667],
       [0.        , 0.58333333, 0.15254237, 0.04166667],
       [0.33333333, 0.41666667, 0.10169492, 0.04166667],
       [0.33333333, 0.58333333, 0.10169492, 0.125     ],
       [0.33333333, 0.625     , 0.08474576, 0.04166667],
       [0.33333333, 0.58333333, 0.06779661, 0.04166667],
       [0.        , 0.5       , 0.10169492, 0.04166667],
       [0.        , 0.45833333, 0.10169492, 0.04166667],
       [0.33333333, 0.58333333, 0.08474576, 0.125     ],
       [0.33333333, 0.875     , 0.08474576, 0.        ],
       [0.33333333, 0.91666667, 0.06779661, 0.04166667],
       [0.        , 0.45833333, 0.08474576, 0.        ],
       [0.33333333, 0.5       , 0.03389831, 0.04166667],
       [0.33333333, 0.625     , 0.05084746, 0.04166667],
       [0.        , 0.45833333, 0.08474576, 0.        ],
       [0.        , 0.41666667, 0.05084746, 0.04166667],
       [0.33333333, 0.58333333, 0.08474576, 0.04166667],
       [0.33333333, 0.625     , 0.05084746, 0.08333333],
       [0.        , 0.125     , 0.05084746, 0.08333333],
       [0.        , 0.5       , 0.05084746, 0.04166667],
       [0.33333333, 0.625     , 0.10169492, 0.20833333],
       [0.33333333, 0.75      , 0.15254237, 0.125     ],
       [0.        , 0.41666667, 0.06779661, 0.08333333],
       [0.33333333, 0.75      , 0.10169492, 0.04166667],
       [0.        , 0.5       , 0.06779661, 0.04166667],
       [0.33333333, 0.70833333, 0.08474576, 0.04166667],
       [0.33333333, 0.54166667, 0.06779661, 0.04166667],
       [1.        , 0.5       , 0.62711864, 0.54166667],
       [0.66666667, 0.5       , 0.59322034, 0.58333333],
       [0.66666667, 0.45833333, 0.66101695, 0.58333333],
       [0.33333333, 0.125     , 0.50847458, 0.5       ],
       [0.66666667, 0.33333333, 0.61016949, 0.58333333],
       [0.33333333, 0.33333333, 0.59322034, 0.5       ],
       [0.66666667, 0.54166667, 0.62711864, 0.625     ],
       [0.        , 0.16666667, 0.38983051, 0.375     ],
       [0.66666667, 0.375     , 0.61016949, 0.5       ],
       [0.33333333, 0.29166667, 0.49152542, 0.54166667],
       [0.33333333, 0.        , 0.42372881, 0.375     ],
       [0.33333333, 0.41666667, 0.54237288, 0.58333333],
       [0.66666667, 0.08333333, 0.50847458, 0.375     ],
       [0.66666667, 0.375     , 0.62711864, 0.54166667],
       [0.33333333, 0.375     , 0.44067797, 0.5       ],
       [0.66666667, 0.45833333, 0.57627119, 0.54166667],
       [0.33333333, 0.41666667, 0.59322034, 0.58333333],
       [0.33333333, 0.29166667, 0.52542373, 0.375     ],
       [0.66666667, 0.08333333, 0.59322034, 0.58333333],
       [0.33333333, 0.20833333, 0.49152542, 0.41666667],
       [0.33333333, 0.5       , 0.6440678 , 0.70833333],
       [0.66666667, 0.33333333, 0.50847458, 0.5       ],
       [0.66666667, 0.20833333, 0.66101695, 0.58333333],
       [0.66666667, 0.33333333, 0.62711864, 0.45833333],
       [0.66666667, 0.375     , 0.55932203, 0.5       ],
       [0.66666667, 0.41666667, 0.57627119, 0.54166667],
       [0.66666667, 0.33333333, 0.6440678 , 0.54166667],
       [0.66666667, 0.41666667, 0.6779661 , 0.66666667],
       [0.66666667, 0.375     , 0.59322034, 0.58333333],
       [0.33333333, 0.25      , 0.42372881, 0.375     ],
       [0.33333333, 0.16666667, 0.47457627, 0.41666667],
       [0.33333333, 0.16666667, 0.45762712, 0.375     ],
       [0.33333333, 0.29166667, 0.49152542, 0.45833333],
       [0.66666667, 0.29166667, 0.69491525, 0.625     ],
       [0.33333333, 0.41666667, 0.59322034, 0.58333333],
       [0.66666667, 0.58333333, 0.59322034, 0.625     ],
       [0.66666667, 0.45833333, 0.62711864, 0.58333333],
       [0.66666667, 0.125     , 0.57627119, 0.5       ],
       [0.33333333, 0.41666667, 0.52542373, 0.5       ],
       [0.33333333, 0.20833333, 0.50847458, 0.5       ],
       [0.33333333, 0.25      , 0.57627119, 0.45833333],
       [0.66666667, 0.41666667, 0.61016949, 0.54166667],
       [0.33333333, 0.25      , 0.50847458, 0.45833333],
       [0.33333333, 0.125     , 0.38983051, 0.375     ],
       [0.33333333, 0.29166667, 0.54237288, 0.5       ],
       [0.33333333, 0.41666667, 0.54237288, 0.45833333],
       [0.33333333, 0.375     , 0.54237288, 0.5       ],
       [0.66666667, 0.375     , 0.55932203, 0.5       ],
       [0.33333333, 0.20833333, 0.33898305, 0.41666667],
       [0.33333333, 0.33333333, 0.52542373, 0.5       ],
       [0.66666667, 0.54166667, 0.84745763, 1.        ],
       [0.33333333, 0.29166667, 0.69491525, 0.75      ],
       [1.        , 0.41666667, 0.83050847, 0.83333333],
       [0.66666667, 0.375     , 0.77966102, 0.70833333],
       [0.66666667, 0.41666667, 0.81355932, 0.875     ],
       [1.        , 0.41666667, 0.94915254, 0.83333333],
       [0.        , 0.20833333, 0.59322034, 0.66666667],
       [1.        , 0.375     , 0.89830508, 0.70833333],
       [0.66666667, 0.20833333, 0.81355932, 0.70833333],
       [1.        , 0.66666667, 0.86440678, 1.        ],
       [0.66666667, 0.5       , 0.69491525, 0.79166667],
       [0.66666667, 0.29166667, 0.72881356, 0.75      ],
       [0.66666667, 0.41666667, 0.76271186, 0.83333333],
       [0.33333333, 0.20833333, 0.6779661 , 0.79166667],
       [0.33333333, 0.33333333, 0.69491525, 0.95833333],
       [0.66666667, 0.5       , 0.72881356, 0.91666667],
       [0.66666667, 0.41666667, 0.76271186, 0.70833333],
       [1.        , 0.75      , 0.96610169, 0.875     ],
       [1.        , 0.25      , 1.        , 0.91666667],
       [0.66666667, 0.08333333, 0.6779661 , 0.58333333],
       [0.66666667, 0.5       , 0.79661017, 0.91666667],
       [0.33333333, 0.33333333, 0.66101695, 0.79166667],
       [1.        , 0.33333333, 0.96610169, 0.79166667],
       [0.66666667, 0.29166667, 0.66101695, 0.70833333],
       [0.66666667, 0.54166667, 0.79661017, 0.83333333],
       [1.        , 0.5       , 0.84745763, 0.70833333],
       [0.66666667, 0.33333333, 0.6440678 , 0.70833333],
       [0.66666667, 0.41666667, 0.66101695, 0.70833333],
       [0.66666667, 0.33333333, 0.77966102, 0.83333333],
       [1.        , 0.41666667, 0.81355932, 0.625     ],
       [1.        , 0.33333333, 0.86440678, 0.75      ],
       [1.        , 0.75      , 0.91525424, 0.79166667],
       [0.66666667, 0.33333333, 0.77966102, 0.875     ],
       [0.66666667, 0.33333333, 0.69491525, 0.58333333],
       [0.66666667, 0.25      , 0.77966102, 0.54166667],
       [1.        , 0.41666667, 0.86440678, 0.91666667],
       [0.66666667, 0.58333333, 0.77966102, 0.95833333],
       [0.66666667, 0.45833333, 0.76271186, 0.70833333],
       [0.66666667, 0.41666667, 0.6440678 , 0.70833333],
       [0.66666667, 0.45833333, 0.74576271, 0.83333333],
       [0.66666667, 0.45833333, 0.77966102, 0.95833333],
       [0.66666667, 0.45833333, 0.69491525, 0.91666667],
       [0.33333333, 0.29166667, 0.69491525, 0.75      ],
       [0.66666667, 0.5       , 0.83050847, 0.91666667],
       [0.66666667, 0.54166667, 0.79661017, 1.        ],
       [0.66666667, 0.41666667, 0.71186441, 0.91666667],
       [0.66666667, 0.20833333, 0.6779661 , 0.75      ],
       [0.66666667, 0.41666667, 0.71186441, 0.79166667],
       [0.66666667, 0.58333333, 0.74576271, 0.91666667],
       [0.33333333, 0.41666667, 0.69491525, 0.70833333]])

In [40]:
iris_normal = pd.DataFrame(x_scaled)

In [41]:
iris_normal

            0         1         2         3
0    0.333333  0.625000  0.067797  0.041667
1    0.000000  0.416667  0.067797  0.041667
2    0.000000  0.500000  0.050847  0.041667
3    0.000000  0.458333  0.084746  0.041667
4    0.333333  0.666667  0.067797  0.041667
..        ...       ...       ...       ...
145  0.666667  0.416667  0.711864  0.916667
146  0.666667  0.208333  0.677966  0.750000
147  0.666667  0.416667  0.711864  0.791667
148  0.666667  0.583333  0.745763  0.916667
149  0.333333  0.416667  0.694915  0.708333

[150 rows x 4 columns]

In [42]:
# HANDLING CATEGORIAL VARIABLES

# Label Encoding 
# Algorithm

from sklearn import preprocessing

In [43]:
iris['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [45]:
label_encoding = preprocessing.LabelEncoder()

In [46]:
iris['Species'] = label_encoding.fit_transform(iris['Species'])

In [47]:
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0                5           3.5            1.4           0.2        0
1                4           3.0            1.4           0.2        0
2                4           3.2            1.3           0.2        0
3                4           3.1            1.5           0.2        0
4                5           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145              6           3.0            5.2           2.3        2
146              6           2.5            5.0           1.9        2
147              6           3.0            5.2           2.0        2
148              6           3.4            5.4           2.3        2
149              5           3.0            5.1           1.8        2

[150 rows x 5 columns]

In [48]:
iris['Species'].unique()

array([0, 1, 2])

In [75]:
dummy = iris.copy()

In [50]:
# 2. ONE HOT ENCODING

features_df = iris.drop(columns = ['Species'])

In [51]:
enc = preprocessing.OneHotEncoder()

In [52]:
enc

OneHotEncoder()

In [53]:
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0                5           3.5            1.4           0.2        0
1                4           3.0            1.4           0.2        0
2                4           3.2            1.3           0.2        0
3                4           3.1            1.5           0.2        0
4                5           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145              6           3.0            5.2           2.3        2
146              6           2.5            5.0           1.9        2
147              6           3.0            5.2           2.0        2
148              6           3.4            5.4           2.3        2
149              5           3.0            5.1           1.8        2

[150 rows x 5 columns]

In [55]:
features_df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0                5           3.5            1.4           0.2
1                4           3.0            1.4           0.2
2                4           3.2            1.3           0.2
3                4           3.1            1.5           0.2
4                5           3.6            1.4           0.2
..             ...           ...            ...           ...
145              6           3.0            5.2           2.3
146              6           2.5            5.0           1.9
147              6           3.0            5.2           2.0
148              6           3.4            5.4           2.3
149              5           3.0            5.1           1.8

[150 rows x 4 columns]

In [57]:
enc_transform = enc.fit_transform(iris[['Species']])

In [66]:
enc_df = pd.DataFrame(enc_transform.toarray())

In [67]:
enc_df

       0    1    2
0    1.0  0.0  0.0
1    1.0  0.0  0.0
2    1.0  0.0  0.0
3    1.0  0.0  0.0
4    1.0  0.0  0.0
..   ...  ...  ...
145  0.0  0.0  1.0
146  0.0  0.0  1.0
147  0.0  0.0  1.0
148  0.0  0.0  1.0
149  0.0  0.0  1.0

[150 rows x 3 columns]

In [68]:
df_encode = features_df.join(enc_df)

In [70]:
df_encode

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm    0    1    2
0                5           3.5            1.4           0.2  1.0  0.0  0.0
1                4           3.0            1.4           0.2  1.0  0.0  0.0
2                4           3.2            1.3           0.2  1.0  0.0  0.0
3                4           3.1            1.5           0.2  1.0  0.0  0.0
4                5           3.6            1.4           0.2  1.0  0.0  0.0
..             ...           ...            ...           ...  ...  ...  ...
145              6           3.0            5.2           2.3  0.0  0.0  1.0
146              6           2.5            5.0           1.9  0.0  0.0  1.0
147              6           3.0            5.2           2.0  0.0  0.0  1.0
148              6           3.4            5.4           2.3  0.0  0.0  1.0
149              5           3.0            5.1           1.8  0.0  0.0  1.0

[150 rows x 7 columns]

In [71]:
df_encode.rename(columns={0: 'Iris-Setosa', 1: 'Iris-Versicolor', 2: 'Iris-Virginica'}, inplace=True)

In [72]:
df_encode

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Iris-Setosa,Iris-Versicolor,Iris-Virginica
0,5,3.5,1.4,0.2,1.0,0.0,0.0
1,4,3.0,1.4,0.2,1.0,0.0,0.0
2,4,3.2,1.3,0.2,1.0,0.0,0.0
3,4,3.1,1.5,0.2,1.0,0.0,0.0
4,5,3.6,1.4,0.2,1.0,0.0,0.0
...,...,...,...,...,...,...,...
145,6,3.0,5.2,2.3,0.0,0.0,1.0
146,6,2.5,5.0,1.9,0.0,0.0,1.0
147,6,3.0,5.2,2.0,0.0,0.0,1.0
148,6,3.4,5.4,2.3,0.0,0.0,1.0
149,5,3.0,5.1,1.8,0.0,0.0,1.0

In [76]:
# DUMMY VARIABLE ENCODING 

dummy["Species"]

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int64

In [77]:
one_hot_df = pd.get_dummies(dummy, prefix="Species",columns=['Species'], drop_first=False)

In [78]:
one_hot_df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_0,Species_1,Species_2
0,5,3.5,1.4,0.2,True,False,False
1,4,3.0,1.4,0.2,True,False,False
2,4,3.2,1.3,0.2,True,False,False
3,4,3.1,1.5,0.2,True,False,False
4,5,3.6,1.4,0.2,True,False,False
...,...,...,...,...,...,...,...
145,6,3.0,5.2,2.3,False,False,True
146,6,2.5,5.0,1.9,False,False,True
147,6,3.0,5.2,2.0,False,False,True
148,6,3.4,5.4,2.3,False,False,True
149,5,3.0,5.1,1.8,False,False,True